/* for custom css */
html, body{
    overflow-x: hidden;
}

hr.drop{
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    overflow:visible;
    padding:0;
    border:none;
    border-top: 1px solid #eee;
    color:#dc3545;
    text-align:center;
    /* color:red; */
}
hr.drop:after{
    content:"📌";
    display: iniline-block;
    position:relative;
    top:-0.7em;
    font-size:1.3em;
    padding:.1em;
    border-radius: 0.5rem;
    background:#303030;
}

.pointer {
    cursor: pointer;
}

.nav-ul{
    margin: 0;
    padding: 0;
    margin-bottom: 0rem;
}

.nav-li {
    padding-left:  0rem;
    padding-right: 0rem;
    border-bottom: 1px solid rgb(71, 71, 71);
}

.nav-li a{
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    background-color: white;
    border-color: transparent; 
}

.nav-link.active,
a.nav-link:hover,
a.nav-link:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.9);
  border-color: transparent;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
}

.pagination a :hover {
    background-color: #f1f1f1;
    color: #333;
}

.pagination {
    text-align: center;
}

.scrolltop {
	display:none;
	width:100%;
	margin:1rem auto;
	position:fixed;
	bottom:1rem;
	right:1rem;	
}
.scroll {
	position:absolute;
	right:1rem;
	bottom:1rem;
	background: transparent;
	padding:0rem;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.scroll:hover {
    transform :scale(1.25);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll .fa {
	font-size:2.5rem;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

.icon {
    color: #101010;
    padding: 0.5rem;
}

footer.jumbotron{
    position: relative;
    margin-bottom: 0 !important;
}
.fa-footer {
    font-size:3rem !important;
}
.fab{
    z-index: 1;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.fab:hover {
    transform :scale(1.25);
    color:white !important;
}