/* for custom css */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

hr.drop{
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    overflow:visible;
    padding:0;
    border:none;
    border-top: 1px solid #eee;
    color:#dc3545;
    text-align:center;
    /* color:red; */
}
hr.drop:after{
    content:"🐶";
    display: iniline-block;
    position:relative;
    top:-0.7em;
    font-size:1.3em;
    padding:.1em;
    border-radius: 0.5rem;
    background:#303030;
}

ul{
    margin-bottom: 0 !important;
}

.nav-li {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid rgb(71, 71, 71);
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
}

.pagination a :hover {
    background-color: #f1f1f1;
    color: #333;
}

.pagination {
    text-align: center;
}