
<!-- footer -->
<footer class="jumbotron wrap jumbotron-fluid bg-dark my-0">
  <div class="container container-fluid text-center">
      <!-- social media -->            
      <p class="pb-3 mt-0 pt-0 text-warning"><b>{ Find me on social media }</b></p>
      <div class="row mx-2 px-2">
          <!-- insta -->
          <div class="fa-footer col-3">
              <a href="https://www.instagram.com/lor_khatri" class="text-warning" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
          <!-- twitter -->
          <div class="fa-footer col-3">
              <a href="https://twitter.com/lorforlinux" class="text-warning" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
          <!-- linkedin -->
          <div class="fa-footer col-3">
              <a href="https://www.linkedin.com/in/deepak-khatri-927108124/" class="text-warning" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
          <!-- github -->
          <div class="fa-footer col-3">
                  <a href="https://github.com/lorforlinux" class="text-warning" target="_blank"><i class="fab fa-github"></i></a>
          </div>
      </div>
  </div>
</footer>