<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <!-- <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div> -->
  <a href="{{ site.baseurl }}/" title="Home"><img src="{{ site.baseurl }}/public/BeagleBoard.png" alt="BeagleBoard logo" style="padding:1rem; margin: 0 auto;" class="brand"></a>
  <div id="accordion">
    {% if site.data.toc.toc[0] %}
      {% for navigation in site.data.toc.toc %}
        {% if navigation.section%}
          <a class="text-light sidebar-nav-item pointer" data-toggle="collapse" data-target="#nav{{forloop.index}}" aria-controls="nav{{forloop.index}}" aria-expanded="false" aria-label="Toggle navigation">{{ navigation.section }}</a>
          <div class="collapse" id="nav{{forloop.index}}" data-parent="#accordion">
                  {% if navigation.pages[0] %}
                  <ul class="nav-ul">
                      {% for page in navigation.pages %}
                      <li class="nav-item bg-light nav-li pointer"><a class="nav-link text-dark" href="{{ site.baseurl }}/{{page.url}}">{{page.name}}</a></li>
                      {% endfor %}
                  </ul>
                  {%endif%}
          </div>
        {%else%}
          <a class="text-light sidebar-nav-item" href="{{ site.baseurl }}/{{navigation.url}}">{{navigation.name}}</a>
        {%endif%}
      {%endfor%}
    {%endif%}
    <span class="sidebar-nav-item">Status: {{ site.status }}</span>
    <!-- <span class="sidebar-nav-item">Week: {{ site.week }}</span> -->
  </div>
  
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
